<ion-header>
  <ion-toolbar>
    <ion-title>gestioncommande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="gestioncommande" routerLink="/gestioncommande">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Gestion des commandes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestionstock" routerLink="/gestionstock">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Gestion des stocks</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="parametres" routerLink="/parametres">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>