.profile_info {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: left;
}

ion-header{
    text-align: center;
}

.toPrepareList {
  height: 35%;
  overflow-y : auto;
}

.toAcceptList {
  height: 35%;
  overflow-y : auto;
}

.list_titleprepare {
  text-align: center;
  padding: 10px;
  font-size: 1em;
  color: darkorange;
}

.list_titleaccept {
  text-align: center;
  padding: 10px;
  font-size: 1em;
  color: limegreen;
}
.prepare {
  color: darkorange;
}

.accept {
  color: limegreen;
}
