<ion-header>
  <ion-toolbar>
    <ion-title>Gestion des commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="list_titleprepare">Commandes à préparer</h1>
  <ion-list class="toPrepareList">

    <ng-container *ngIf="!commandes || commandes.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

      <ion-item-sliding *ngFor="let item of commandes">

          <ion-item *ngIf="item.idMarchand == idCurrentUser && user.role == 'marchand' && item.payed == true && item.accepted == true && item.realized == false" lines="inset" button [routerLink]="['/detailscommande', item.id]">
            <ion-card class="profile_info">
              <ion-card-header >
                <ion-card-title>{{ item.nomClient }}</ion-card-title>
                <ion-card-subtitle *ngFor="let produit of item.dictProduits">{{ produit.nomProduit }} : {{ produit.quantiteAchatProduit }} {{produit.grandeurPourPrix}}</ion-card-subtitle>

                <ion-card-subtitle>Prix total : {{ item.prixTotal }}€</ion-card-subtitle>

              </ion-card-header>
            </ion-card>
          </ion-item>




        <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            Check
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>

  <h1 class='list_titleaccept'>Commandes à accepter</h1>
  <ion-list class="toAcceptList">

    <ng-container *ngIf="!commandes || commandes.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

      <ion-item-sliding *ngFor="let item of commandes">

        <ion-item *ngIf="item.idMarchand == idCurrentUser && user.role == 'marchand' && item.payed == true && item.accepted == false && item.realized == false" lines="inset" button [routerLink]="['/detailscommande', item.id]">
            <ion-card class="profile_info">
              <ion-card-header >
                <ion-card-title>{{ item.nomClient }}</ion-card-title>
                <ion-card-subtitle *ngFor="let produit of item.dictProduits">{{ produit.nomProduit }} : {{ produit.quantiteAchatProduit }} {{produit.grandeurPourPrix}}</ion-card-subtitle>

                <ion-card-subtitle>Prix total : {{ item.prixTotal }}€</ion-card-subtitle>

              </ion-card-header>
            </ion-card>
          </ion-item>




        <ion-item-options side="end">
          <ion-item-option (click)="remove(item)" color="secondary">
            Check
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>



</ion-content>
