<ion-header>
  <ion-toolbar>
    <ion-title>
      Carte    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" (click)='onClickFuntion($event)'></div>
  

  <ion-list class="list-coursiers" >
          <ion-card *ngFor="let item of marche">
          <img class="profile_image" src="{{ item.photo }}"/>
            <ion-card-header class="profile_info">
              <ion-card-title>{{ item.nom }}</ion-card-title>
              <ion-card-subtitle>{{ item.dispo }}</ion-card-subtitle>
            </ion-card-header>
            {{ item.relais }}
          </ion-card>
    </ion-list>
  
  
</ion-content>