#mapId {
    width: 100%;
    height: 70%;
  }

ion-header{
  text-align: center;
}

/*La suite est rajoutée par Loïc pour rendre le tout joli, mais simplement copiée collée de favoris*/

.profile_image {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  vertical-align: middle;
  margin: 5px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.profile_info {
  display: inline-block;
  vertical-align: left;
  width: 60%;
  text-align: left;
}

.profile_stars {
  display: inline-block;
  text-align: left;
  padding-left: 0px;
}

h1 {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}


ion-content{
  display: inline-block;
  width: 100%;
}


//ajout de mathéo pour que la vue ressemble a celle que l'on voualais 
.list-coursiers{
  height: 30%;
  overflow-y : auto;
}

ion-card{
  display:block;
}