<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-header class="profile_info">
      <ion-card-title>Le Maraîcher Lyonnais</ion-card-title>
      <ion-card-subtitle>Légumes de saison</ion-card-subtitle>
      <ion-card-content class="profile_stars">
        <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
        4,9 / 5
      </ion-card-content>
    </ion-card-header>
    
    <ion-list>
      
      <ion-item-sliding *ngFor="let item of produit">
        <ion-item *ngIf="item.idMarchand == marchandid">
        
          <ion-label class='nomproduit'>{{ item.nom }}</ion-label>
          <ion-text color="secondary">
            <p>Prix : {{ item.prix }}€ / {{ item.grandeur }}</p>
          </ion-text>
          <ion-select>
            <ion-select-option>0{{ item.grandeur }}</ion-select-option>
            <ion-select-option>1{{ item.grandeur }}</ion-select-option>
            <ion-select-option>2{{ item.grandeur }}</ion-select-option>
            <ion-select-option>3{{ item.grandeur }}</ion-select-option>
            <ion-select-option>4{{ item.grandeur }}</ion-select-option>
            <ion-select-option>5{{ item.grandeur }}</ion-select-option>
            <ion-select-option>6{{ item.grandeur }}</ion-select-option>
            <ion-select-option>7{{ item.grandeur }}</ion-select-option>
            <ion-select-option>8{{ item.grandeur }}</ion-select-option>
            <ion-select-option>9{{ item.grandeur }}</ion-select-option>
            <ion-select-option>10{{ item.grandeur }}</ion-select-option>
          </ion-select>
          
          
        </ion-item>
      </ion-item-sliding>
  </ion-list> 
  <ion-button class="but" color="success" routerLink="/paypal">Commander</ion-button>
  </ion-card>
  
</ion-content>
