<ion-tabs>

  <ion-tab-bar slot="bottom">


    <ion-tab-button tab="gestioncommande">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Commandes</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="gestionstock">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Stocks</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
