<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="GestionCommande">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Gestion des commandes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="GestionStock">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Gestion des stocks</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="Parametres">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
