<ion-header>
  <ion-back-button></ion-back-button>
  <ion-toolbar>
    <ion-title>Mes commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="!commandes || commandes.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let item of commandes">
          <ion-card class="profile_info" *ngIf="item.idClient == idCurrentUser" lines="inset" button [routerLink]="['/detailscommande', item.id]">
            <ion-card-header >
              <ion-card-title>{{ item.nomClient }}</ion-card-title>
              <ion-card-subtitle *ngFor="let produit of item.dictProduits">{{ produit.nomProduit }} : {{ produit.quantiteAchatProduit }} {{produit.grandeurPourPrix}}</ion-card-subtitle>

              <ion-card-subtitle>Prix total : {{ item.prixTotal }}€</ion-card-subtitle>

            </ion-card-header>
          </ion-card>
    </ion-item-sliding>

  </ion-list>
</ion-content>
