<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="annonces">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Annonces</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marchands">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Marchands</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coursiers">
      <ion-icon name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
