<ion-header>
  <ion-back-button></ion-back-button>
  <ion-toolbar>
    <ion-title>Moyen de paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Username" [(ngModel)] ="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password"></ion-input>
        </ion-item>
                <ion-item>
            <ion-input placeholder="Confirm_Password" type="password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button color="primary" (click)="goRegister()" expand="full">Register</ion-button>
</ion-content>