<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabsmarchand/gestionstock"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-title>Nom du produit :</ion-title>
    <br>
    <ion-item>
      <ion-input required type="text" placeholder="Nom" [(ngModel)]="produit.nom"></ion-input>
    </ion-item>
    <br>

    <ion-title>Quantité en stock :</ion-title>
    <br>
    <ion-item>{{produit.quantiteStock}} {{produit.grandeurStock}}
      <ion-fab horizontal="end">
        <ion-button class="picker" (click)="openPickerForQuantity(stockColumnOptions)">Modifier</ion-button>
      </ion-fab>
    </ion-item>
    <br>

    <ion-title>Prix :</ion-title>
    <br>
    <ion-item>{{produit.prix}} €<ng-container *ngIf="produit.grandeurPrix">/{{produit.grandeurPrix}}</ng-container>
      <ion-fab horizontal="end">
        <ion-button class="picker" (click)="openPickerForPrice(priceColumnOptions)">Modifier</ion-button>
      </ion-fab>
    </ion-item>
    <br>

    <ion-title>Origine du produit :</ion-title>
    <br>
    <ion-item>
      <ion-input required type="text" placeholder="Origine" [(ngModel)]="produit.origine"></ion-input>
    </ion-item>
    <br>

    <div class="gauche"><ion-title>Certifié Agriculture Biologique :</ion-title></div><div class="droite"><ion-checkbox value="{{produit.bio}}" [(ngModel)]="produit.bio"></ion-checkbox></div>
    <br>
    <br>

  </ion-list>
  <ion-button expand="full" (click)="saveProduit()">Enregistrer</ion-button>
</ion-content>
