<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabsmarchand/gestionstock"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
      <ion-item>
      <ion-label>Nom :</ion-label>
      <ion-input required type="text" [(ngModel)]="produit.nom"></ion-input>
    </ion-item>

    
    <ion-item>
    <ion-label>Quantité en stock : {{produit.quantiteStock}} {{produit.grandeurStock}}</ion-label>
      <ion-fab horizontal="end">
        <ion-button class="picker" (click)="openPickerForQuantity(stockColumnOptions)">Modifier</ion-button>
      </ion-fab>
      <br>
    </ion-item>
    
    <ion-item>
    <ion-label>Prix : {{produit.prix}} €<ng-container *ngIf="produit.grandeurPrix">/{{produit.grandeurPrix}}</ng-container></ion-label>
      <ion-fab horizontal="end">
        <ion-button class="picker" (click)="openPickerForPrice(priceColumnOptions)">Modifier</ion-button>
      </ion-fab>
    </ion-item>
    <br>
 
    <ion-item>
      <ion-label>Origine du produit :</ion-label>
      <ion-input required type="text" placeholder="Origine" [(ngModel)]="produit.origine"></ion-input>
    </ion-item>
    <br>

    <ion-item>
      <ion-label>Certifié Agriculture Biologique :</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="produit.bio"></ion-checkbox>
    </ion-item>

  </ion-list>
  <ion-button expand="full" (click)="saveProduit()">Enregistrer</ion-button>
</ion-content>
