<ion-header>
  <ion-toolbar>
  <ion-back-button></ion-back-button>
  <img class="toto" src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Famour.2Fcoaching-amoureux.2Fcest-quoi-belle-femme-temoignages-43206.2F14682625-1-fre-FR.2Fc-est-quoi-une-belle-femme-temoignages.2Ejpg/748x372/quality/90/crop-from/center/c-est-quoi-une-belle-femme-temoignages.jpeg"/>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
