<ion-header>
  <ion-toolbar>
    <ion-title>role</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-card>
            <img class="client" src="./assets/client.png" />
            <ion-card-header>
                <ion-card-title>Client</ion-card-title>
                <ion-card-subtitle>Participe à l'achat groupé et se fait livrer/ récupère sa part d'achat.</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
</ion-content>

<ion-content>
    <ion-card>
        <img class="coursier" src="./assets/coursier.png" />
        <ion-card-header>
            <ion-card-title>Coursier</ion-card-title>
            <ion-card-subtitle>Propose des achats en lot, contacte le marchand et se charge de la commande.</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>


<ion-content>
    <ion-card>
        <img class="marchand" src="./assets/marchand.jpg" />
        <ion-card-header>
            <ion-card-title>Marchand</ion-card-title>
            <ion-card-subtitle>Vend ses produits sur la plateforme.</ion-card-subtitle>
        </ion-card-header>
    </ion-card>
</ion-content>

<ion-button  color="primary" expand="full">Confirmer</ion-button>

