ion-icon{
    border-radius: 50%;
    font-size: 90px;
}

ion-item{
    display: inline-block;
    width: 100%;
}
ion-card-header{
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

ion-card{
    width: 100%;
}

ion-checkbox{
    vertical-align: middle;
}

ion-header{
    text-align: center;
}

ion-button{
    height: auto;
}