.client {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.coursier {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}

.marchand {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
}
