ion-icon{
    border-radius: 50%;
    font-size: 90px;
}

ion-item{
    display: inline-block;
}
ion-card-header{
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

ion-checkbox{
    vertical-align: middle;
}