<ion-header>
  <ion-toolbar>
    <ion-title>
      CONNEXION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" method="post">
    <table id="frm">
      <tr>
        <td><label for="inputemail"><b>Email :</b></label></td>
        <td><label for="inputpw"><b>Mot de passe :</b></label></td>
      </tr>
      <tr>
        <td><input type="email" name="email" id="inputemail" placeholder="example@toto.com" class="from-control"/></td>
        <td><input type="password" name="mot_passe" id="inputpw" class="from-control"/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" name="go" value="Connexion" id="bt"></td>
      </tr>
      <h6>OU</h6>
      <tr>
        <td></td>
        <td><input type="submit" name="go" value="Connexion avec Facebook" id="bt"></td>
      </tr>
    </table>
  </form>
  </ion-content>


