<ion-header>
    <ion-toolbar>
        <ion-title>
            CONNEXION
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-card>
  <img class="logo" src="./assets/logo.png" />
  <ion-title> Distrib </ion-title>
</ion-card>

<ion-content padding center text-center>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button (click)="login()" color="primary" expand="full">Log in</ion-button>
    <ion-button color="light" (click)="goRegister()" expand="full">Register</ion-button>
</ion-content>