<ion-header>
    <ion-toolbar>
        <ion-title>
            CONNEXION
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-card>
  <img class="logo" src="./assets/logo.png" />
  <ion-title> Distrib </ion-title>
</ion-card>


<ion-content padding center text-center>
    <ion-list>
        <ion-item>
            <ion-label><b>Email:</b></ion-label>
            <ion-input type="email" [(ngModel)]="dataUser.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label><b>Mot de passe:</b></ion-label>
            <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="block" color="primary" (click)="login()">Connexion</ion-button>
    <ion-button color="light" (click)="signUp()" expand="full">Inscription</ion-button>
</ion-content>
