<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accueilmarchand"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Nom" [(ngModel)]="produit.nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" placeholder="Quantité" [(ngModel)]="produit.quantite"></ion-input>
    </ion-item>

    <ion-select placeholder="Grandeur" [(ngModel)]="produit.grandeur">
      <ion-select-option  value="kg">kilogramme</ion-select-option>
      <ion-select-option  value="g">gramme</ion-select-option>
      <ion-select-option  value="L">litre</ion-select-option>
      <ion-select-option  value="mL">millilitre</ion-select-option>
      <ion-select-option  value="unité">unité</ion-select-option>
    </ion-select>

    <ion-item>
      <ion-input required type="text" placeholder="Prix par {{produit.grandeur}}" [(ngModel)]="produit.prix">€</ion-input>
    </ion-item>

    <!--
    <ion-select [(ngModel)]="produit.prix">
      <ion-select-option  value="0">kilogramme</ion-select-option>
      <ion-select-option  value="g">gramme</ion-select-option>
      <ion-select-option  value="L">litre</ion-select-option>
      <ion-select-option  value="mL">millilitre</ion-select-option>
      <ion-select-option  value="unité">unité</ion-select-option>
    </ion-select>
    -->

    <!--
    <div class="bar bar-header bar-light">
      <h1 class="title">Produits à disposition :</h1>
    </div>
    <ion-fab-button routerLink="/accueilmarchand" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    -->

  </ion-list>
  <ion-button expand="full" (click)="saveProduit()">Enregistrer</ion-button>
</ion-content>
