<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <div class='cadre'>
    <img class="logo" src={{user.photo}} />
    </div>


    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input class="droite" placeholder={{user.email}}></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prénom</ion-label>
      <ion-input class="droite" placeholder={{user.prenom}} [(ngModel)]="user.prenom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input class="droite" placeholder={{user.nom}} [(ngModel)]="user.nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Role</ion-label>
      <ion-input class="droite" placeholder={{user.role}}></ion-input>
    </ion-item>



    <br>

    <ion-button (click)="updateProfile()" expand="block">Enregistrer le profil</ion-button>
    <!--
    <ion-button color="light" (click)="changpasswd()" expand="full">Changer le mot de passe</ion-button>
    -->
    <ion-button color="danger" (click)="logout()" expand="block">Déconnexion</ion-button>
  </ion-list>
</ion-content>
