<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-title>PROFIL USER</ion-title>
  <img class="logo" src="./assets/photo-user.jpeg" />
</ion-card>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label class="parametre">Profil</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nom d'utilisateur</ion-label>
    <ion-input placeholder="annielarson"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input placeholder="Annie"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input placeholder="Larson"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="annie.larson@gmail.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="parametre">Compte</ion-label>
  </ion-item>
  <ion-button color="light" (click)="changpasswd()" expand="full">Changer le mot de passe</ion-button>
  <ion-button color="block" (click)="logout()" expand="full">Déconnexion</ion-button>
</ion-list>
</ion-content>
