.logo {
    display: inline-block;
    width: 130px;
    height: 130px;
    overflow: hidden;
    vertical-align: middle;
    margin: 5px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.parametre{
    background: rgb(236,239,246) ;
}

ion-header{
    text-align: center;
}

.droite {
  text-align: right;
}
