<ion-header>
  <ion-toolbar>
    <ion-title>infouser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card text-center *ngIf="!isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Choisir l'image à charger</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="fileUpload btn btn-primary">
        <span>Charger</span>
        <input
          id="uploadBtn"
          type="file"
          class="upload"
          (change)="uploadFile($event.target.files)"
        />
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title
        >Fichier séléctionné:<b>{{ fileName }}</b></ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="percentage | async as pct">
        Progress: {{ pct | number }}%
        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="snapshot | async as snap">
        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
        {{ snap.bytesTransferred | fileSizePipe }}
        <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
          <ion-button
            color="warning"
            size="small"
            (click)="task.pause()"
            class="button is-warning"
            >Pause</ion-button
          >
          <ion-button
            size="small"
            (click)="task.resume()"
            class="button is-info"
            >Continuer</ion-button
          >
          <ion-button
            color="danger"
            size="small"
            (click)="task.cancel()"
            class="button is-danger"
            >Annuler</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="!isUploading && isUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>{{ fileName }}</b>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="UploadedFileURL | async as url">
        <img [src]="url" />
        <a [href]="url" target="_blank" rel="noopener">Télécharger</a>
      </div>
      File Size: {{ fileSize | fileSizePipe }}
      <ion-button
        expand="full"
        color="success"
        (click)="isUploading = isUploaded = false"
        >Upload More</ion-button
      >
    </ion-card-content>
  </ion-card>

  <h2 text-center>Image Téléchargée</h2>

  <ion-card color="light" text-center *ngFor="let item of images | async">



    <ion-card-content *ngIf="item.idpicture == user.id && item.index == 0">
      <img [src]="item.filepath" />
      <a [href]="item.filepath" target="_blank" rel="noopener">Download</a>
    </ion-card-content>
  </ion-card>
</ion-content>




<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input [(ngModel)]="user.Nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prénom</ion-label>
    <ion-input [(ngModel)]="user.Prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sexe</ion-label>
    <ion-input [(ngModel)]="user.sexe"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Rôle</ion-label>
    <ion-input [(ngModel)]="user.role"></ion-input>
  </ion-item>



  <ion-button color="light" (click)="push()" expand="full">Enregistrement</ion-button>
</ion-list>
