<ion-header>
  <ion-toolbar>
    <ion-title>Marchands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ng-container *ngIf="!todos || todos.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

      <ion-item-sliding *ngFor="let item of todos">

          <ion-item lines="inset" button [routerLink]="['/details', item.id]">
            <ion-card class="profile_info">
              <ion-card-header >
                <ion-card-title>
                  {{ item.Nom }}
                  <!--<p>{{ item.createdAt | date:'short' }}</p>-->
                </ion-card-title>
                <ion-card-subtitle>{{ item.bio }}</ion-card-subtitle>
                <ion-card-subtitle>{{ item.adresse }}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </ion-item>




      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
