<ion-header>
  <ion-toolbar>
    <ion-title>Marchands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar></ion-searchbar>

<ion-list >
  <ion-item-sliding *ngFor="let item of users">
      <ion-card class="profile_info" *ngIf="item.role == 'marchand'" button [routerLink]="['/creationcommande', item.id]">
        <ion-card-header class="profile_text">
          <ion-card-title>{{ item.prenom }} {{ item.nom }}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <img class="profile_image" src="{{ item.photo }}"/>
        <img class="etal_image" src="{{ item.photoEtal }}"/>
      </ion-card>
  </ion-item-sliding>
</ion-list>

</ion-content>
