<ion-header>
  <ion-toolbar>
    <ion-title>annonces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="test">
  <h1> BIO </h1>
  <ion-card>
        <img class="toto" src="http://www.photographe-marseille.eu/media/G5LPBL7Y9811G5X0N1F5KC.jpg"/>
        <ion-card-header>
          <ion-card-title>Dimitri, Agriculteur</ion-card-title>
          <ion-card-subtitle>Légumes de saison</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="star"></ion-icon>
          5
        </ion-card-content>
    </ion-card>
</ion-content>
