.profile_image {
  display: inline-block;
  width: 130px;
  height: 130px;
  overflow: hidden;
  vertical-align: middle;
  margin: 5px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;


  background-position:top;
  position: relative;
  z-index:2;
}

.profile_text {
  background-position:top;
  position: relative;
  z-index:2;
  background-color: white;
}


.etal_image {
  position: absolute;
  left: 0px;
	bottom: 0px;
  z-index: 1;
  background-position: absolute;
}

.profile_info {
  display: inline-block;
  vertical-align: baseline;
  width: 60%;
  height: 100%;
  text-align: left;
}


.profile_stars {
    display: inline-block;
    text-align: left;
    padding-left: 0px;
}

ion-header{
    text-align: center;
}

ion-card{
    display: block;
}

.tata{
    display: inline-block;
    overflow-x: scroll;
    white-space: nowrap;
}

h1{
    text-align: center;
}
