.profile_image {
    display: inline-block;
    width: 130px;
    height: 130px;
    overflow: hidden;
    vertical-align: middle;
    margin: 5px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}


.profile_info {
    display: inline-block;
    vertical-align: middle;
}

.profile_stars {
    display: inline-block;
}

ion-card-title {
}