<ion-header>
  <ion-toolbar>
    <ion-title>Marchands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar></ion-searchbar>

<ion-list >
<ion-item-sliding *ngFor="let item of users">
          <ion-card  *ngIf="item.role == 'marchand'" [routerLink]="['/creationcommande', item.id]">
          <img class="profile_image" src="{{ item.photo }}"/>
            <ion-card-header class="profile_info">
              <ion-card-title>{{ item.nom }} {{ item.prenom }}</ion-card-title>
              <ion-card-subtitle>{{ item.biographie }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
    </ion-item-sliding>
    </ion-list>

</ion-content>
