<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabsmarchand/gestioncommande"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Nom" [(ngModel)]="commande.nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" placeholder="Quantité" [(ngModel)]="commande.quantite"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" placeholder="Prix par {{commande.grandeur}}" [(ngModel)]="commande.prix"></ion-input>€
    </ion-item>

    <ion-select placeholder="Grandeur" [(ngModel)]="commande.grandeur">
      <ion-select-option  value="kg">par kilogramme</ion-select-option>
      <ion-select-option  value="g">par gramme</ion-select-option>
      <ion-select-option  value="L">par litre</ion-select-option>
      <ion-select-option  value="mL">par millilitre</ion-select-option>
      <ion-select-option  value="unité">par unité</ion-select-option>
    </ion-select>




  </ion-list>
  <ion-button expand="full" (click)="saveProduit()">Enregistrer</ion-button>
</ion-content>
