<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="user.role == 'marchand'" defaultHref="/tabsmarchand/gestioncommande"></ion-back-button>
      <ion-back-button *ngIf="user.role == 'client'" defaultHref="/histcommande"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user.role == 'marchand'">Client : {{client.prenom}} {{client.nom}}</ion-title>
    <ion-title *ngIf="user.role == 'client'">Commande de {{commande.prixTotal}}€</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">


    <ion-item-sliding *ngFor="let item of commande.dictProduits">

      <!--<ion-item *ngIf="item.idMarchand == idCurrentUser && user.role == 'marchand'" lines="inset">-->
      <ion-item lines="inset">
        <ion-card class="profile_info">
          <ion-card-header>
            <ion-card-title>{{ item.nomProduit }}</ion-card-title>
            <ion-card-subtitle>Quantité : {{item.quantiteAchatProduit}} {{item.grandeurPourPrix}}</ion-card-subtitle>
            <ion-card-subtitle>Prix : {{item.quantiteAchatProduit*item.prixProduitParGrandeur}}€</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-item>




    <ion-item-options side="end">
      <ion-item-option (click)="remove(item)" color="secondary">
        Check
        <ion-icon name="checkmark" slot="end"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </ion-list>

    <h2>ID commande :</h2>
    <h3>{{commande.id}}</h3>
    <br>
  <ion-button *ngIf="commande.accepted == false && user.role == 'marchand'" expand="full" (click)="accept()">Accepter la commande</ion-button>
  <ion-button *ngIf="commande.realized == false && commande.accepted == true && user.role == 'marchand'" expand="full" (click)="deliver()">Commande effectuée</ion-button>
</ion-content>
