<ion-header>
  <ion-toolbar>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-card *ngIf="user.role == 'client'">
    <ion-item routerLink="/profiluser">
        <ion-icon name="contact"></ion-icon>
        <ion-card-header>
          <ion-card-title>Profil</ion-card-title>
        </ion-card-header>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="user.role == 'marchand'">
    <ion-item routerLink="/profilmarchand">
        <ion-icon name="contact"></ion-icon>
        <ion-card-header>
          <ion-card-title>Profil</ion-card-title>
        </ion-card-header>
        </ion-item>
    </ion-card>

    <ion-card>
    <ion-item routerLink="/histcommande">
      <ion-icon name="basket"></ion-icon>
        <ion-card-header>
          <ion-card-title>Mes commandes</ion-card-title>
        </ion-card-header>
      </ion-item>
    </ion-card>

    <ion-card>
    <ion-item routerLink="/support">
      <ion-icon name="mail"></ion-icon>
        <ion-card-header>
          <ion-card-title>Support</ion-card-title>
        </ion-card-header>
      </ion-item>
    </ion-card>


</ion-list>
</ion-content>
