<ion-content>
<ion-list>
  <ion-card>
    <ion-button>
        <ion-icon name="contact"></ion-icon>
        <ion-card-header>
          <ion-card-title>Profil</ion-card-title>
        </ion-card-header>
      </ion-button>
    </ion-card>

    <ion-card>
    <ion-button>
      <ion-icon name="basket"></ion-icon>        
        <ion-card-header>
          <ion-card-title>Mes commandes</ion-card-title>
        </ion-card-header>
      </ion-button>
    </ion-card>

    <ion-card>
    <ion-button>
      <ion-icon name="card"></ion-icon>       
        <ion-card-header>
          <ion-card-title>Moyen de paimment</ion-card-title>
        </ion-card-header>
      </ion-button>
    </ion-card>

    <ion-card>
    <ion-button>
      <ion-icon name="mail"></ion-icon>       
        <ion-card-header>
          <ion-card-title>Support</ion-card-title>
        </ion-card-header>
      </ion-button>
    </ion-card>


</ion-list>
</ion-content>
